<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A blog website.">
    <meta name="keywords" content="blog,bloggy">
    <meta name="author" content="Richard Huynh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggy</title>
    <link rel="stylesheet" href="styles/layout.css">
  </head>
  <body>
    <div id="navbar">
      <h1>Bloggy</h1>
      <span id="navbar-options">
        <a href="/">Home</a>
        <a href="/create-posts">Create Posts</a>
        <a href="/edit-posts">Edit Posts</a>
      </span>
    </div>
